.flexCol--filtros__mobile {
    align-items: start;
    display    : flex;
}

@media (max-width:640px) {
    
    .flexCol--list__summary--info {
        align-items: center;
        display    : flex;
    }
}
