.autoCompleteOuterContainer--search__desktop {
    height            : 30px;
    color             : #f5f5f5;
    box-shadow        : unset;
    -webkit-box-shadow: unset;
    border-radius     : unset;
    border            : none;
    font-size         : 1.1em;
    letter-spacing    : 0.6px;
    background-color  : transparent;
    transition        : color .25s ease;
    z-index           : 114;
    text-transform    : initial;
}

.suffixWrapper--search__desktop {
    display: none;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    border: transparent;
}

.searchBarContainer {
    max-width: 100%;
}

.portalWrapper--search__desktop :first-child {
    left           : 0px !important;
    justify-content: start !important;
    width          : 100%;
}

.portalContainer--search__desktop,
.portalWrapper--search__desktop {
    width: 100%;

}