.modal--modal__search--icon {
    height: 500px;
}

.closeButtonContainer {
    margin-top: 10px;
}

.headerContent--input__search {
    width: -webkit-fill-available;
}

.triggerContainer--modal__search--desktop {
    cursor: pointer;
}