@media (max-width: 1024px) {

    .container {
        justify-content: center;
    }
}

.paragraph--fuente__footer {
    color         : #484848;
    font          : bold 12px/15px Montserrat !important;
    letter-spacing: 0.36px !important;
}

.paragraph--fuente__footer--siguenos {
    color         : #484848;
    font          : bold 12px/15px Montserrat !important;
    letter-spacing: 0.36px !important;
}

.container--fuente__footer--siguenos{
    margin-top: 10px;
}