@media (min-width: 1024px) {

    .headerContainer--modal__pdp {
        border-bottom: transparent;
    }

    .paper--modal__tallas {
        height  : 600px;
        overflow: auto;
        padding : 20px 40px 40px 40px;
        position: relative;
        width   : 960px;
    }

    .paper--modal__disp {
        height  : 600px;
        overflow: hidden;
        padding : 20px 40px 40px 40px;
        width   : 960px;
    }
}

.contentContainer--modal__disponibilidad {
    height: 100%;
}

.paper--modal__add--info {
    height: 515px;
    width : 530px;
}

.paper--modal__add--info :global(.vtex-modal-layout-0-x-headerContainer) {
    align-items: center;
    display    : flex;
    padding    : 10px;
}

@media (max-width: 768px) {
    .paper--modal__add--info-mobile {
        height: 685px;
        width : 300px;
    }
}