.headerRowBackground--header__top {
    background-color: transparent;
    height          : 57px;
}

.headerRowBackground--header__top:hover {
    background-color: #f5f5f5;
    transition      : all .3s;
}

.headerStickyRow--header__top {
    height: 0px;
}