@media (min-width: 1024px) {

    .menuContainer--menu__contacto,
    .menuContainer--menu__quienes--somos,
    .menuContainer--menu__ayuda {
        text-align: start;
    }

    .menuContainer--menu__legales--desktop {
        text-align: start;
    }

    .styledLinkContent--menu__contacto,
    .styledLinkContent--menu__ayuda,
    .styledLinkContent--menu__quienes--somos,
    .styledLinkContent--menu__legales--desktop {
        align-items    : center;
        color          : #484848;
        font           : normal normal normal 13px/13px Montserrat-Medium;
        justify-content: start;
    }

    .styledLinkIcon--menu__contacto {
        margin-left: 0rem;
        margin-top : 2px;
    }
    .styledLinkIcon--menu__networks {
        opacity: 0.75;
    }
    
    .styledLinkIcon--menu__networks:hover {
        opacity: 1;
    }
}


.menuItem--menu__ayuda,
.menuItem--menu__contacto,
.menuItem--menu__quienes--somos,
.menuItem--menu__legales--desktop {
    margin: 5px 0px 5px 0px;
}


.styledLinkContainer--menu__networks {
    margin-left : 0.40rem;
    margin-right: 0.40rem;
}

.menuContainer--menu__networks {
    margin-left: 5%;
}