@media (min-width: 1024px) {

    .container--texto__footer--desktop {
        justify-content: start;
        margin-left    : 9%;
    }
}

.paragraph--texto__footer--desktop {
    font-weight: bold;
}

