@media (min-width: 1024px) {

    .container--texto__footer--desktop {
        justify-content: start;
        margin-left    : 10%;
    }
}

@media (min-width: 1400px) {

    .container--texto__footer--desktop {
        justify-content: start;
        margin-left    : 9%;
    }
}

@media (min-width: 1900px) {

    .container--texto__footer--desktop {
        justify-content: start;
        margin-left    : 8%;
    }
}

.paragraph--texto__footer--desktop {
    font-weight: bold;
}