.flexRowContent--menu__footer--desktop {
    margin-top: 4%;
}

.flexRow--menu__footer--desktop {
    border-bottom : 1px solid #e4e4e4;
    border-top    : 1px solid #e4e4e4;
    padding-bottom: 70px;
}

.flexCol--columna__desktop {
    margin-left: 21%;
}

.flexColChild--columna__desktop {
    height: min-content !important;
}

.flexColChild--copy__desktop {
    align-items    : center;
    display        : flex;
    justify-content: center;
}

.flexColChild--img__conejo--desktop {
    align-items: center;
    display    : flex;
    margin-left: 40px;
}