.paper--modal__quick--view {
    height: 450px;
    width : 850px;
}

.headerContainer--button__close {
    border-color: transparent;
    height      : 10px;
}

.closeButtonContainer--button__close {
    z-index: 1;
}

.contentContainer--modal__quick--view-content :global(.vtex-button) {
    bottom  : 14px;
    width   : 40%;
    position: absolute;
}

.triggerContainer--modal__quick--view {
    position: absolute;
    right   : 38px;
}