.flexRow--descrip__mobile :global(.vtex-store-components-3-x-productDescriptionTitle) {
    display: none;
}

.flexCol--check__pago--mobile {
    margin-top: 8px;
}

@media (max-width:767px) {
    
    .flexRowContent--guia__tallas {
        display        : flex;
        flex-wrap      : wrap;
        font-family    : 'MontserratMedium';
        font-style     : normal;
        font-size      : 12px;
        justify-content: end;
        margin-top     : -3%;
        position       : absolute;
        right          : 0;
        width          : 100%;
    }
}